/*General styles*/
* {
    box-sizing: border-box;
}

body {
    padding: 40px;
    padding-top: 100px; /* for .header */
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
}

/* utility */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.overlay {
    position: fixed;
    background: black;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    right: 0;
    top: 0;
    z-index: 1000;

    /*display: none*/
}

/* page */
.page {
    overflow: auto;
}


/* header */
.header {
    height: 65px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    box-shadow:  0 -1px 8px rgba(0,0,0,0.26);
    border-bottom: 1px solid #CCC;
}

.header .logo {
    color: #444;
    font-size: 32px;
    left: 40px;
    line-height: 60px;
    position: absolute;
}

.header .account {
    padding: 12px 0;
    position: absolute;
    right: 40px;
}

.header .account .avatar {
    height: 40px;
    width: 40px;
}

.header .share {
    font-size: 16px;
    position: absolute;
    left: 120px;
    right: 105px;
    top: 10px;
}

.header .share-closed {
    height: 45px;
    padding-top: 3px;
    overflow: hidden;
    width: 100%;
}

.header .share-closed:hover {
    cursor: pointer;
    color: #444;
    border-color: #BBB;
}

.header .share-open {
    background: white;
    border: 1px solid #BBB;
    border-radius: 5px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15), 0 0 8px rgba(0, 0, 0, 0.15);
    color: #444;
    height: 268px;
    padding: 10px;
    position: absolute;
    top: -8px;
    right: -11px;
    left: -11px;
    z-index: 10000;

    /*display: none;*/
}

.header .share-open .title {
    color: #555;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 6px;
}

.header .share-open .close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.header .share-open .close:hover {
    color: #888;
    cursor: pointer;
}

.header .share-open input,
.header .share-open textarea {
    margin-bottom: 10px;
    min-width: 100%;
    max-width: 100%;
}

.header .share-open textarea {
    min-height: 100px;
    max-height: 100px;
    margin-bottom: 5px
}


/**
 * components
 */

/*Filter button styles*/
.filter-btn {
    background-color: #fff;
    border: 1px rgba(0, 0, 0, 0.15) solid;
    border-radius: 2px;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.filter-btn:hover {
    border: 1px #777 solid;
    color: #000;
    cursor: pointer;
}

/*avatar icon styles*/
.avatar {
    border-radius: 500px;
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-right: 4px;

    opacity: 0.75;
    transition: all 300ms;
}

.avatar-btn:hover {
    opacity: 1;
    cursor: pointer;
}


/* sidebar */
.sidebar {
    /*float: left;*/
    padding-top: 3px; /* for main content tab underlines */
    /*width: 30%;*/
    /*height: 100%;*/

    position: fixed;
    top: 100px;
    bottom: 20px;
    left: 20px;
    right: calc(70% + 10px);
}

/**
 * panels
 */

.panel {
    overflow: hidden;
}

.panel-content {
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #EEE;
    border-top: none;

    padding-top: 30px;
    overflow-y: scroll;
}

.panel-main {
    position: fixed;
    top: 100px;
    bottom: 20px;
    left: calc(30% + 10px);
    right: 20px;
}
.panel-main .panel-content {
    padding-left: 2%;
    padding-right: 2%;
    /*padding: 4% 2%;*/
    height: calc(100% - 28px);
}


.panel-filter {
    /*height: calc(33.33% - 13.33px);*/
    height: calc(50% - 10px);
    margin-bottom: 20px;
}
.panel-filter:last-child {
    margin-bottom: 0;
}
.panel-filter .panel-content{
    padding: 8px;
    height: calc(100% - 25px);
}


/**
 * panel title bars
 */

.title-bar {
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    color: rgba(0, 0, 0, 0.8);
    cursor: default;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

/*title bar text */
.title-bar .title {
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

/* title bar tabs */
.title-bar .tab.selected {
    /*border-bottom: 3px solid black;*/
    border-bottom: 3px solid #33C3F0;
}

.title-bar .tab:not(.selected):hover {
    border-bottom: 3px solid #888;
    cursor: pointer;
}

/* title bar search icon */
.title-bar .fa-search {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 0;
    top: 2px;
}


/**
 * message
 */

/*message styles*/
.message {
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
    position: relative;
}

.message .sender {
    margin-top: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.message .sender .avatar {
    background: url(img/person1.jpg) center center;
    background-size: cover;

    margin-right: 10px;
    float: left;
}

.message .sender .info {
    font-size: 11px;
    line-height: 13px;
    margin-top: 4px;

    float: left;
}

.message .sender .info .name {
    font-size: 25px;
    margin-top: 4px;
    margin-bottom: 10px;
    display: block;
}

.message .sender .info .dateString {
    color: rgba(0, 0, 0, 0.5);
}

.message .sender .fa {
    display: inline-block;
    margin-top: 7px;
    margin-right: 10px;

    font-size: 30px;  
    float: right;
}

.message .sender .fa-star-o:hover, .message .sender .fa-star {
    cursor: pointer;
    color: #33C3F0;
}


.message .sender .fa-trash-o {
    color: black;
    margin-left: 10px;
}

.message .sender .fa-trash-o:hover {
    cursor: pointer;
    color: red;
}

.hidden {
    display: none !important;
}

.message .note {    
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 17px;
}

.message .link-content {
    position: relative;
}

.message:last-child hr{
    display: none;
}

/**
 * link detail
 */

.link-detail {
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.15);
    height: 120px;
    margin-bottom: 8px;
    overflow: hidden;
    position: relative;
    margin-right: 10px;

    clear: both;
}

.link-detail .text {
    height: 100%;
    margin-right: 120px; /* same as .image width */
    padding: 5px 8px;
    position: relative;
}

.link-detail .text .title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link-detail .text .body {
    font-size: 14px;
    line-height: 16px;
}

.link-detail .text .url {
    background-color: #FFF;
    bottom: 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    height: 20px;
    left: 0;
    line-height: 15px;
    overflow: hidden;
    padding: 0 8px 5px;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.link-detail .image {
   /* background: url(../img/cat1.jpg) center center;
    background-size: cover;*/
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;

    border-left: 1px solid rgba(0, 0, 0, 0.15);
}



